@import './styles/reset.css';

//@fonts-face {
//  fonts-family: "huangling";
//  src: local("huangling"),
//  url("src/assets/fonts/huangling.ttf") format("truetype");
//  fonts-weight: normal;
//}
//@fonts-face {
//  fonts-family: 'siyuanheiti';
//  src: local('siyuanheiti'), url('./assets/fonts/siyuanheiti.otf') format('opentype');
//  fonts-weight: normal;
//}

.container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: #221f21;
  color: #cecccb;
}
