@import './styles/reset.css';

//@font-face {
//  font-family: "huangling";
//  src: local("huangling"),
//  url("src/assets/font/huangling.ttf") format("truetype");
//  font-weight: normal;
//}
@font-face {
  font-family: "siyuanheiti";
  src: local("siyuanheiti"),
  url("src/assets/font/siyuanheiti.otf") format("opentype");
  font-weight: normal;
}
